@import "tailwindcss";

* {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@theme {
	--color-yellow-guataca: #FFC200;
}

body {
	min-height: 100svh;
	font-family: "Onest Variable", sans-serif;
	overscroll-behavior: none;
	background-color: #171717;
}
input,
button,
textarea,
select {
	font: inherit;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}	
