---
export interface CardProps {
  title: string;
  dish: string;
  description: string;
  price: string;
}

const { title} = Astro.props;
---

<article class="text-neutral-50 bg-gray-900 rounded-md overflow-hidden ">
  <header class="flex items-center bg-yellow-guataca justify-between p-4 font-bold text-xl">
    <h3>{title}</h3>
  </header>
  <section class="flex flex-col gap-2">
    <slot />
  </section>
</article>

