---
import promociones from "../assets/menu/promociones.json";
import PromotionCard from "./PromotionCard.astro";

const PromotionTitle = "Promociones";
---

<section
	class="bg-yellow-guataca w-full flex items-center justify-center flex-col gap-4 p-4 text-gray-900" id="promociones"
>
	<h2 class="font-bold text-3xl">{PromotionTitle}</h2>
	<article class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
		{
			promociones.map((item) => (
				<PromotionCard
					title={item.title}
					description={item.description}
					price={item.price}
				/>
			))
		}
	</article>
</section>
